body{
    background-image: url("../images/background.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 0px;
}

section {
    margin-top: 50px;
    padding: 40px;
    background-color: aliceblue;
    height: 400px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.main {
    margin: auto;
    text-align: center;
}

#qAndA {
    border: solid;
    border-width: 2px;
}

.start, .right, .wrong, .timesUp, .reset {
    background-color: aliceblue;
    height: 300px;
    position: absolute;
    z-index: 50;
}

.timeRemaining, .selection{
    margin: 2px;
    padding: 3px;
}

.timeRemaining {
    border:solid;
    border-width: 2px;
    border-color: red;
}

#question {
    border:solid;
    border-width: 2px;
    border-color: blue;
}

.selection {
    border:solid;
    border-width: 2px;
    border-color: green;
}

.right {
    
}

.wrong {
    
}
