body{
    background-image: url("../images/background.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 0px;
    font-family: 'Kodchasan', sans-serif;
}

section {
    margin-top: 50px;
    padding: 40px;
    background-color: aliceblue;
    height: 420px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#hp{
    font-family: 'Homemade Apple', cursive;
}

.main {
    margin: auto;
    text-align: center;
}

#qAndA {
    padding:5px;
    border-style: double;
    border-width: 2px;
    border-radius: 25px;
}

.start, .right, .wrong, .timesUp, .reset {
    background-color: aliceblue;
    height: 300px;
    position: absolute;
    z-index: 50;
}

.start{
    padding-top: 50px;
}

#reset{
    margin: 5px;
}

.timeRemaining, .selection{
    margin: 2px;
    padding: 3px;
}

#question {
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
}

.selection {
    width: 90%;
}